{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/console.css') }}">
{% endblock %}

{% block body %}
<div class="main-container">
    <div class="ms-alert ms-border console-container">
        <div class="console-element">
            <div class="only-text">
                <hr>
                Enter a math expression or a command and press <code>Enter</code>.
                Type <code>help</code> to get a detailed list of commands with descriptions.

                <div class="small-header">Auto Completion</div>
                Press <code>Tap</code> to auto complete a selected command name.
                Use <code>Up</code>/<code>Down</code> to select a command from the suggestion list.
                Or click a command if you really want to use your mouse.

                <div class="small-header">Command History</div>
                Use <code>Ctrl</code> + <code>Up</code>/<code>Down</code> to navigate through your past commands.
            </div>
        </div>
    </div>
    <div class="command-input-container">
        <input type="text" class="command-input" autofocus>
        <div class="ms-loading loading-indicator"></div>
    </div>
    <div class="ac-suggestions"></div>
    <div class="command-description"></div>
</div>

<footer>
    <p>Copyright - All rights reserved - &copy;<b>Kirk_KD</b> - <a href="https://github.com/Kirk-KD/console-calculator">Github</a></p>
</footer>

<script>
    (() => {
        var commandHistory = [];
        var historyIndex = 0;
        var acSelectionIndex = -1;

        const IS_CMD_REGEX = /[a-z_]/i;

        $(".ac-suggestions").hide();
        $(".loading-indicator").hide();

        var commandsInfo;
        var helpHTML;
        $.post({
            url: "/load_commands",
            async: false // blocking because must get `commandsInfo` for other code to work
        }).done(response => {
            commandsInfo = response;

            // generate HTML for help command
            let helpHTMLs = [];
            for (const [name, command] of Object.entries(commandsInfo)) {
                helpHTMLs.push(command.helpHTML);
            }
            helpHTML = `<div class="console-element">
                            <div class="only-text help-msg">
                                <hr>
                                ${helpHTMLs.join("<br><br>")}
                            </div>
                        </div>`;
        });
        
        function searchCommands(query, limit) {
            let results = {};

            for (const [name, detail] of Object.entries(commandsInfo)) {
                if (name.startsWith(query)) {
                    results[name] = detail.parsedArgs;
                    if (Object.keys(results).length == limit) break;
                }
            }

            return results;
        }

        function parseInput(input) {
            /*
            Parse console input into a command and arguments list, or
            into a math expression.
            */

            let inputCleaned = input.trim().toLowerCase();
            let inputSplit = inputCleaned.split(" ");

            let command = inputSplit[0];
            if (IS_CMD_REGEX.test(command) || input === "") {
                let argumentsText = inputSplit.length > 1 ?
                                    inputSplit.slice(1).join(" ") :
                                    "";

                let arguments = argumentsText.split(",")
                for (let i = 0; i < arguments.length; i++)
                    arguments[i] = arguments[i].trim();

                return {commandName: command, arguments: arguments[0] == "" ? [] : arguments};
            } else {
                return {expr: inputCleaned};
            }
        }

        function makeCommandResultElement(response) {
            return `<div class="console-element">
                        <hr>
                        <div class="original-command math">
                            <span class="command-name">${response.commandName}</span> ${response.parsedArgs}
                        </div>
                        <span class="command-result math">${response.commandResult}</span>
                    </div>`;
        }

        function makeEvalResultElement(response) {
            return `<div class="console-element">
                        <hr>
                        <div class="original-expr math">${response.originalExpr}</div>
                        <span class="command-result math">${response.result}</span>
                    </div>`
        }

        function makeAutocompleteItems(searchResults) {
            let result = "";
            for (const [name, parsedArgs] of Object.entries(searchResults)) {
                result = `<div class="ac-suggestion-item" command-name="${name}">${name} 
                    <span class="ac-args">${parsedArgs}</span></div>` + result;
            }
            return result;
        }

        function updateAutocomplete(commandName) {
            let searchResults = searchCommands(commandName, 10);
            let resultsLength = Object.keys(searchResults).length;
            if (resultsLength > 0) {
                $(".ac-suggestions").html(makeAutocompleteItems(searchResults)).show();
                acSelectionIndex = resultsLength - 1;
                $(".ac-suggestions").children()[acSelectionIndex].id = "ac-suggestion-item-selected";
                updateDescription();
            } else {
                $(".ac-suggestions").hide();
                $(".command-description").html("");
                acSelectionIndex = -1;
            }
        }

        function updateDescription() {
            let commandName = $("#ac-suggestion-item-selected").attr("command-name");
            $(".command-description").html(commandsInfo[commandName].description || "");
        }

        // Show autocomplete items when autofocused/loaded
        updateAutocomplete("");

        $(".ac-suggestions").on("click", ".ac-suggestion-item", e => {
            let commandName = e.target.getAttribute("command-name");
            $(".command-input").focus().val(commandName);
            updateAutocomplete(commandName);
        });

        $(".command-input").on("input focus", e => {
            let result = parseInput(e.target.value);
            if (result.expr === undefined) updateAutocomplete(result.commandName);
        }).on("keydown", e => {
            if (["Enter", "ArrowUp", "ArrowDown", "Tab"].indexOf(e.key) > -1) e.preventDefault();

            if (e.key === "Enter") {
                if (e.target.value.trim().toLowerCase() === "help") {
                    $(".console-container").prepend(helpHTML);
                    e.target.value = "";
                } else if (e.target.value.trim().length > 0 && $(".loading-indicator").is(":hidden")) {
                    $(".loading-indicator").show();
                    let result = parseInput(e.target.value);

                    function afterRequest() {
                        commandHistory.push(e.target.value);

                        historyIndex = 0;
                        e.target.value = "";

                        $(".ac-suggestions").html("").hide();
                        $(".command-description").html("");
                        $(".loading-indicator").hide();
                    }

                    if (result.expr === undefined) {
                        let commandData = JSON.stringify({
                            commandName: result.commandName,
                            arguments: result.arguments
                        });

                        $.post({
                            url: "/calculate",
                            data: commandData,
                            contentType: "application/json;"
                        }).done(response => {
                            $(".console-container").prepend(makeCommandResultElement(response));
                            afterRequest();
                        });
                    } else {
                        let exprData = JSON.stringify(result);

                        $.post({
                            url: "/eval",
                            data: exprData,
                            contentType: "application/json;"
                        }).done(response => {
                            $(".console-container").prepend(makeEvalResultElement(response));
                            afterRequest();
                        });
                    }
                }
            } else if (e.ctrlKey && e.key === "ArrowUp") {
                if (commandHistory.length > 0 && commandHistory.length + historyIndex - 1 >= 0) {
                    historyIndex--;
                    e.target.value = commandHistory[commandHistory.length + historyIndex];
                }
            } else if (e.ctrlKey && e.key === "ArrowDown") {
                if (commandHistory.length > 0 && commandHistory.length + historyIndex + 1 < commandHistory.length) {
                    historyIndex++;
                    e.target.value = commandHistory[commandHistory.length + historyIndex];
                }
            } else if (e.key == "ArrowUp" && acSelectionIndex !== -1) {
                let children = $(".ac-suggestions").children();
                children[acSelectionIndex].removeAttribute("id");

                acSelectionIndex--;
                if (acSelectionIndex < 0) acSelectionIndex = children.length - 1;
                children[acSelectionIndex].id = "ac-suggestion-item-selected";
                updateDescription();
            } else if (e.key == "ArrowDown" && acSelectionIndex !== -1) {
                let children = $(".ac-suggestions").children();
                children[acSelectionIndex].removeAttribute("id");

                acSelectionIndex++;
                if (acSelectionIndex >= children.length) acSelectionIndex = 0;
                children[acSelectionIndex].id = "ac-suggestion-item-selected";
                updateDescription();
            } else if (e.key == "Tab" && acSelectionIndex !== -1) {
                let children = $(".ac-suggestions").children();
                let commandName = children[acSelectionIndex].getAttribute("command-name");
                e.target.value = commandName;
                updateAutocomplete(commandName);
            }
        });
    })();
</script>
{% endblock %}