{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/console.css') }}">
{% endblock %}

{% block body %}
<div class="main-container">
    <div class="ms-alert ms-border console-container">
        <div class="console-element">
            <div class="only-text">
                <hr>
                Enter a math expression or a command and press <code>Enter</code>.
                Type <code>help</code> to get a list of commands.
            </div>
        </div>
        <div class="console-element">
            <div class="only-text help-msg">
                <hr>
                <span class="cmd-name">quadratic_roots</span> <span class="cmd-args">a, b, c</span><br>
                Calculates the root(s) of a quadratic equation using a, b, and c where ax2 + bx + c = 0, a != 0<br><br>
                <span class="cmd-name">quadratic_roots</span> <span class="cmd-args">a, b, c</span><br>
                Calculates the root(s) of a quadratic equation using a, b, and c where ax2 + bx + c = 0, a != 0<br><br>
                <span class="cmd-name">quadratic_roots</span> <span class="cmd-args">a, b, c</span><br>
                Calculates the root(s) of a quadratic equation using a, b, and c where ax2 + bx + c = 0, a != 0
            </div>
        </div>
    </div>
    <div class="command-input-container">
        <input type="text" class="command-input" autofocus>
        <div class="ms-loading loading-indicator"></div>
    </div>
    <div class="ac-suggestions"></div>
    <div class="command-description"></div>
</div>

<script>
    (() => {
        var commandHistory = [];
        var historyIndex = 0;
        var acSelectionIndex = -1;

        const IS_CMD_REGEX = /[a-z_]/i;

        $(".ac-suggestions").hide();
        $(".loading-indicator").hide();

        function parseInput(input) {
            /*
            Parse console input into a command and arguments list, or
            into a math expression.
            */

            let inputSplit = input.trim().toLowerCase().split(" ");

            let command = inputSplit[0];
            if (IS_CMD_REGEX.test(command)) {
                let argumentsText = inputSplit.length > 1 ?
                                    inputSplit.slice(1).join(" ") :
                                    "";

                let arguments = argumentsText.split(",")
                for (let i = 0; i < arguments.length; i++)
                    arguments[i] = arguments[i].trim();

                return {commandName: command, arguments: arguments[0] == "" ? [] : arguments};
            } else {
                return {expr: input};
            }
        }

        function makeCommandResultElement(response) {
            return `<div class="console-element">
                        <hr>
                        <div class="original-command math">
                            <span class="command-name">${response.commandName}</span> ${response.parsedArgs}
                        </div>
                        <span class="command-result math">${response.commandResult}</span>
                    </div>`;
        }

        function makeEvalResultElement(response) {
            return `<div class="console-element">
                        <hr>
                        <div class="original-expr math">${response.originalExpr}</div>
                        <span class="command-result math">${response.result}</span>
                    </div>`
        }

        function makeAutocompleteItems(response) {
            let result = "";
            for (const [name, args_text] of Object.entries(response.commands)) {
                result = `<div class="ac-suggestion-item" command-name="${name}">${name} <span class="ac-args">${args_text}</span></div>` + result;
            }
            return result;
        }

        function updateAutocomplete(commandName) {
            $.post({
                url: "/search",
                data: `{"query": "${commandName}"}`,
                contentType: "application/json;"
            }).done(response => {
                if (!response.isEmpty) {
                    $(".ac-suggestions").html(makeAutocompleteItems(response)).show();
                    acSelectionIndex = Object.keys(response.commands).length - 1;
                    $(".ac-suggestions").children()[acSelectionIndex].id = "ac-suggestion-item-selected";
                    updateDescription();
                } else {
                    $(".ac-suggestions").hide();
                    $(".command-description").html("");
                    acSelectionIndex = -1;
                }
            });
        }

        function updateDescription() {
            $.post({
                url: "/description",
                data: `{"name": "${
                    $("#ac-suggestion-item-selected").attr("command-name")
                }"}`,
                contentType: "application/json;"
            }).done(response => {
                $(".command-description").html(response.description || "");
            });
        }

        $(".command-input").on("input", e => {
            let result = parseInput(e.target.value);
            if (result.expr === undefined) updateAutocomplete(result.commandName);
        }).on("keydown", e => {
            if (["Enter", "ArrowUp", "ArrowDown", "Tab"].indexOf(e.key) > -1) e.preventDefault();
            if (e.key === "Enter") {
                if (e.target.value.trim().toLowerCase() === "help") {
                    $.post({
                        url: "/help"
                    }).done(response => {
                        $(".console-container").prepend(response);
                        e.target.value = "";
                    });
                } else if (e.target.value.trim().length > 0 && $(".loading-indicator").is(":hidden")) {
                    $(".loading-indicator").show();
                    let result = parseInput(e.target.value);

                    function afterRequest() {
                        commandHistory.push(e.target.value);

                        historyIndex = 0;
                        e.target.value = "";

                        $(".ac-suggestions").html("").hide();
                        $(".command-description").html("");
                        $(".loading-indicator").hide();
                    }

                    if (result.expr === undefined) {
                        let commandData = JSON.stringify({
                            commandName: result.commandName,
                            arguments: result.arguments
                        });

                        $.post({
                            url: "/calculate",
                            data: commandData,
                            contentType: "application/json;"
                        }).done(response => {
                            $(".console-container").prepend(makeCommandResultElement(response));
                            afterRequest();
                        });
                    } else {
                        let exprData = JSON.stringify(result);

                        $.post({
                            url: "/eval",
                            data: exprData,
                            contentType: "application/json;"
                        }).done(response => {
                            $(".console-container").prepend(makeEvalResultElement(response));
                            afterRequest();
                        });
                    }
                }
            } else if (e.ctrlKey && e.key === "ArrowUp") {
                if (commandHistory.length > 0 && commandHistory.length + historyIndex - 1 >= 0) {
                    historyIndex--;
                    e.target.value = commandHistory[commandHistory.length + historyIndex];
                }
            } else if (e.ctrlKey && e.key === "ArrowDown") {
                if (commandHistory.length > 0 && commandHistory.length + historyIndex + 1 < commandHistory.length) {
                    historyIndex++;
                    e.target.value = commandHistory[commandHistory.length + historyIndex];
                }
            } else if (e.key == "ArrowUp" && acSelectionIndex !== -1) {
                let children = $(".ac-suggestions").children();
                children[acSelectionIndex].removeAttribute("id");

                acSelectionIndex--;
                if (acSelectionIndex < 0) acSelectionIndex = children.length - 1;
                children[acSelectionIndex].id = "ac-suggestion-item-selected";
                updateDescription();
            } else if (e.key == "ArrowDown" && acSelectionIndex !== -1) {
                let children = $(".ac-suggestions").children();
                children[acSelectionIndex].removeAttribute("id");

                acSelectionIndex++;
                if (acSelectionIndex >= children.length) acSelectionIndex = 0;
                children[acSelectionIndex].id = "ac-suggestion-item-selected";
                updateDescription();
            } else if (e.key == "Tab" && acSelectionIndex !== -1) {
                let children = $(".ac-suggestions").children();
                let commandName = children[acSelectionIndex].getAttribute("command-name");
                e.target.value = commandName;
                updateAutocomplete(commandName);
            }
        });
    })();
</script>
{% endblock %}