{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/console.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/console-mobile.css') }}">
{% endblock %}

{% block body %}
<div class="main-container">
    <div class="ms-alert ms-border console-container">
        <div class="console-element">
            <div class="only-text">
                <hr>
                Enter a math expression or a command and press <code>Enter</code>.
                Type <code>help</code> to get a detailed list of commands with descriptions.

                <div class="small-header">Auto Completion</div>
                Press <code>Tap</code> to auto complete a selected command name.
                Use <code>Up</code>/<code>Down</code> to select a command from the suggestion list.
                Or click a command if you really want to use your mouse.

                <div class="small-header">Command History</div>
                Use <code>Ctrl</code> + <code>Up</code>/<code>Down</code> to navigate through your past commands.
            </div>
        </div>
    </div>
    <div class="command-input-container">
        <div class="command-input math" tabindex="0">
            <span class="ci-root-cursor ci-has-cursor"><span class="ci-cursor">&#8203</span></span>
        </div>
        <div class="ms-loading loading-indicator"></div>
    </div>
    <div class="keyboard-container">
        <div class="keyboard keyboard-alpha">
            <div class="keys-row">
                <span class="key key-letter">Q</span>
                <span class="key key-letter">W</span>
                <span class="key key-letter">E</span>
                <span class="key key-letter">R</span>
                <span class="key key-letter">T</span>
                <span class="key key-letter">Y</span>
                <span class="key key-letter">U</span>
                <span class="key key-letter">I</span>
                <span class="key key-letter">O</span>
                <span class="key key-letter">P</span>
            </div>
            <div class="keys-row">
                <span class="key key-letter">A</span>
                <span class="key key-letter">S</span>
                <span class="key key-letter">D</span>
                <span class="key key-letter">F</span>
                <span class="key key-letter">G</span>
                <span class="key key-letter">H</span>
                <span class="key key-letter">J</span>
                <span class="key key-letter">K</span>
                <span class="key key-letter">L</span>
            </div>
            <div class="keys-row">
                <span class="key key-letter">Z</span>
                <span class="key key-letter">X</span>
                <span class="key key-letter">C</span>
                <span class="key key-letter">V</span>
                <span class="key key-letter">B</span>
                <span class="key key-letter">N</span>
                <span class="key key-letter">M</span>
                <span class="key key-backspace">Del</span>
            </div>
            <div class="keys-row">
                <span class="key key-switch">Switch</span>
                <span class="key key-history-up">H↑</span>
                <span class="key key-history-down">H↓</span>
                <span class="key key-space">Space</span>
                <span class="key key-underscore">_</span>
                <span class="key key-left">←</span>
                <span class="key key-right">→</span>
            </div>
        </div>
        <div class="keyboard keyboard-math">
            <div class="keys-row">
                <span class="key key-squared">^2</span>
                <span class="key key-square">^</span>
                <span class="key key-abs">|a|</span>
                <span class="key-spacing"></span>
                <span class="key key-number">7</span>
                <span class="key key-number">8</span>
                <span class="key key-number">9</span>
                <span class="key key-div">/</span>
                <span class="key-spacing"></span>
                <span class="key key-history-up">H↑</span>
                <span class="key key-history-down">H↓</span>
            </div>
            <div class="keys-row">
                <span class="key key-sqrt">sqrt</span>
                <span class="key key-placeholder"></span>
                <span class="key key-pi">PI</span>
                <span class="key-spacing"></span>
                <span class="key key-number">4</span>
                <span class="key key-number">5</span>
                <span class="key key-number">6</span>
                <span class="key key-mul">*</span>
                <span class="key-spacing"></span>
                <span class="key key-left">←</span>
                <span class="key key-right">→</span>
            </div>
            <div class="keys-row">
                <span class="key key-placeholder"></span>
                <span class="key key-placeholder"></span>
                <span class="key key-placeholder"></span>
                <span class="key-spacing"></span>
                <span class="key key-number">1</span>
                <span class="key key-number">2</span>
                <span class="key key-number">3</span>
                <span class="key key-minus">-</span>
                <span class="key-spacing"></span>
                <span class="key key-backspace">Del</span>
            </div>
            <div class="keys-row">
                <span class="key key-placeholder"></span>
                <span class="key key-bracket-left">(</span>
                <span class="key key-bracket-right">)</span>
                <span class="key-spacing"></span>
                <span class="key key-number">.</span>
                <span class="key key-number">0</span>
                <span class="key key-comma">,</span>
                <span class="key key-plus">+</span>
                <span class="key-spacing"></span>
                <span class="key key-enter">Enter</span>
            </div>
        </div>
    </div>
    <div class="ac-suggestions"></div>
    <div class="command-description"></div>
</div>

<footer>
    <p>Copyright - All rights reserved - &copy;<b>Kirk_KD</b> - <a href="https://github.com/Kirk-KD/console-calculator">Github</a></p>
</footer>

<script type="module" src="{{ url_for('static', filename='js/console.js') }}"></script>
{% endblock %}