@font-face {
    font-family: math-font;
    src: url("../font/HelveticaNeue-Light.ttf");
}

.math {
    font-family: math-font !important;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

footer {
    position: fixed;
    bottom: 7px;
    width: 100%;
    
    text-align: center;
}

footer p {
    font-size: calc(10px + 0.15vw);
    color: rgba(var(--light-text-color), 1);
    margin-bottom: 0;
}

.console-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;

    overflow-y: scroll;
    scrollbar-width: 7px;
    scrollbar-color: rgba(var(--default-border-color), 1) rgba(0, 0, 0, 0);

    height: 80vh;
    width: 45vw;
    margin-bottom: 1.5vh;
}

.console-container::-webkit-scrollbar {
    width: 7px;
}

.console-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.console-container::-webkit-scrollbar-thumb {
    background: rgba(var(--default-border-color), 1);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.console-container .console-element {
    width: 100%;
    /* overflow-x: hidden; */
}

.console-container .console-element .only-text {
    font-size: calc(12px + 0.2vw);
}

.console-container .console-element .only-text .small-header {
    font-size: calc(16px + 0.2vw);
    font-weight: 410;
    margin-top: 18px;
    margin-bottom: 10px;
}

.console-container .console-element .help-msg .cmd-name {
    color: rgba(var(--light-text-color), 1);
    font-weight: 600;
}

.console-container .console-element .help-msg .cmd-args {
    color: rgba(var(--light-text-color), 1);
    font-style: italic;
}

.console-container .console-element .original-command {
    margin-bottom: 1%;
    font-size: calc(11px + 0.2vw);
    color: rgba(var(--light-text-color), 1);
    flex-grow: 2;
}

.console-container .console-element .original-expr {
    margin-bottom: 1%;
    font-size: calc(11px + 0.2vw);
    color: rgba(var(--light-text-color), 1);
}

.console-container .console-element .original-command .command-name {
    font-weight: 600;
    font-style: normal;
    font-family: Inter, sans-serif;
}

.console-container .console-element .command-result {
    font-size: calc(16px + 0.22vw);
}

.console-container .console-element hr {
    height: 2px;
}

.command-input-container {
    position: relative;
    height: 5vh;
    width: 45vw;
}

/* console input elements */
.command-input-container .command-input {
    height: 100%;
    width: 100%;
    padding-left: 1.4rem !important;
    font-size: calc(16px + 0.22vw);
    border: 2px solid rgba(var(--default-border-color), 1);
    border-radius: var(--default-border-radius);

    display: flex;
    align-items: stretch;

    outline: none; /* to remove stupid outline */
}

.command-input-container .command-input span {
    display: inline-flex;
    align-items: center;
}

.ci-digit {

}

.ci-letter {
    font-weight: 420;
}

.ci-clickable {
    /* border-right: 1px solid transparent; */
}

.ci-has-cursor .ci-cursor {
    height: 60%;

    border-right: 1px solid rgba(var(--main-text-color), 1);
    animation: cursor-blink 1s linear infinite;
    -webkit-animation: cursor-blink 1s linear infinite;
}

@keyframes cursor-blink {
    3% {
        border-right: 1px solid rgba(var(--main-text-color), 1);
    }
    47% {
        border-right: 1px solid rgba(var(--main-text-color), 1);
    }
    53% {
        border-right: 1px solid rgba(var(--main-text-color), 0);
    }
    97% {
        border-right: 1px solid rgba(var(--main-text-color), 0);
    }
}

@-webkit-keyframes cursor-blink {
    0% {
        border-right: 1px solid rgba(var(--main-text-color), 1);
    }
    95% {
        border-right: 1px solid rgba(var(--main-text-color), 1);
    }
    100% {
        border-right: 1px solid rgba(var(--main-text-color), 0);
    }
}

.ci-binary-op {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.ci-unary-op {
    
}

.ci-superscript {
    position: relative;
    top: -0.5rem;
    font-size: 0.8rem;
}

/* end console input elements */

.command-input-container .loading-indicator {
    position: absolute;
    right: -40px;
    bottom: 1vh;

    margin: 0 !important;
    padding: 0 !important;
}

.ac-suggestions {
    position: absolute;
    bottom: 8vh;
    left: 10vw;
    width: 16vw;

    border: 2px solid rgba(var(--default-border-color), 1);
    background-color: rgba(var(--main-bg), 1);

    margin: 0 !important;
    padding: 0 !important;
}

.ac-suggestions .ac-suggestion-item {
    margin: 3px;
    padding-left: 0.1vw;
    font-size: calc(10px + 0.2vw);
}

.ac-suggestions .ac-suggestion-item:hover {
    background-color: rgba(var(--ligth-bg-color), 1);
    cursor: pointer;
}

.ac-suggestions #ac-suggestion-item-selected {
    border: 1px solid rgba(224, 69, 64, 0.5);
    margin: 2px;
}

.ac-suggestions .ac-suggestion-item .ac-args {
    font-style: italic;
    color: rgba(var(--light-text-color), 1);
}

.command-description {
    margin-top: 1.5vh;
    min-height: 2vh;
    font-size: calc(12px + 0.2vw);
}
